.windowReload{
    position: relative;
    top: 2vh;
}

.messageLoad{
    font-size: 25px;
}

.load{
    margin-left: auto;
    margin-right: auto;
    border: 8px solid rgba(0,0,0,0.1);
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    animation: load 1s linear infinite;
}

@keyframes load {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.numberReload{
    position: absolute;
    top: 18%;
    left: 42%;
    text-align: center;
    font-size: 80px;
}
