*{
  background-color: #545FCF;
}

.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Lato, sans-serif;
}

.logo-gamer-container{
  width: 12em;
  height: 12em;
}

.logo-gamer{
  display: block;
  width: 100%;
}

.containerMain{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}